#layout-body {
  margin-left: 44px;
  margin-right: 44px;
  margin-top: 10px;
}

#restaurant-box-wrapper {
  padding: 16px;
  background-color: white;
  border-radius: 16px;
}

#restaurant-box {
  margin: auto;
  height: 200px;
  overflow-y: scroll;
}

.navbar {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

#navbar-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#navbar-empty-space {
  flex-basis: 100%;
}

#map { 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
}