{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
  <div id="box-wrapper">
    <div id="restaurant-box" class="list-group">
      {% for restaurant in restaurants %}
        <a href="/restaurant/{{restaurant.id}}" class="list-group-item list-group-item-action">
          <h3>{{restaurant.name}}</h3>
          <p>{{restaurant.description}}</p>
          <div id="restaurant-contact">
            <p class="text-muted"><small>{{restaurant.address}} | {{restaurant.phone}}</small></p>
          </div>
          <div id="restaurant-groups">
            {% for group in restaurant_groups %}
              {% if group.restaurant_id == restaurant.id %}
                <span class="badge rounded-pill bg-primary">{{group.name}}</span>
              {% endif %}
            {% endfor %}
          </div>
        </a>
      {% endfor %}
      {% if restaurant_amount == 0 %}
        <p id="no-restaurants-found">Ravintoloita ei löytynyt!</p>
      {% endif %}
    </div>
  </div>
{% endblock %}