<!DOCTYPE html>
<html>
  <head>
    <title>Ravintolasovellus</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    {% if session.account %}
    <p>Kirjautunut: {{session.account.username}}</p>
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu</a>
    <a href="/register">Rekisteröidy</a>
    {% endif %}

    
    {% for restaurant in restaurants %}
      <hr>
        <a href="/restaurant/{{restaurant.id}}">
        <div>
          <p>Name: {{restaurant.name}}</p>
          <p>Description: {{restaurant.description}}</p>
          <p>Address: {{restaurant.address}}</p>
        </div>
    {% endfor %}
  </body>
</html>
