<!DOCTYPE html>
<html>
  <head>
    <title>Ravintolasovellus - {% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

  </head>
  
  <body>
    <div id="top-bar-items">
      <a href="/">Kotisivu</a>
      {% if session.account %}
        <a>Kirjautunut: {{session.account.username}}</a>
        <a href="/logout">Kirjaudu ulos</a>

        {% if session.account.admin %}
          <a href="/create_restaurant">Luo ravintola</a>
          <a href="/create_group">Luo ryhmä</a>
        {% endif %}
      {% else %}
        <a href="/login">Kirjaudu</a>
        <a href="/register">Rekisteröidy</a>
      {% endif %}
    </div>
    <hr>
  
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
              {% for message in messages %}  
                  <p>{{ message }}</p>  
              {% endfor %}  
        {% endif %}  
    {% endwith %}  

    <hr>
    {% block content %}{% endblock %}
  </body>
</html>