<!DOCTYPE html>
<html>
  <head>
    <title>Ravintolasovellus - {% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <a href="/">Kotisivu</a>
    {% if session.account %}
      <p>Kirjautunut: {{session.account.username}}</p>
      <a href="/logout">Kirjaudu ulos</a>

        {% if session.account.admin %}
          <a href="/create_restaurant">Luo ravintola</a>
          <a href="/create_group">Luo ryhmä</a>
        {% endif %}

      {% else %}
      <a href="/login">Kirjaudu</a>
      <a href="/register">Rekisteröidy</a>
    {% endif %}
    <form action="/search" method="POST">
      <input type="search" name="search">
      <input type="submit" value="Hae">
    </form>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>