{% extends "layout.html" %}
{% block title %}Rekisteröidy{% endblock %}
{% block content %}
  <div id="box-wrapper" style="display: flex; flex-direction: column;">
    <form action="/register" method="post" class="row g-3">
      <div class="col-md-6">
        <label for="username-input" class="form-label">Käyttäjätunnus</label>
        <input type="text" name="username" class="form-control" id="username-input">
      </div>
      <div class="col-md-6">
        <label for="password-input" class="form-label">Salasana</label>
        <input type="password" name="password" class="form-control" id="password-input">
      </div>
      <div class="col-md-6">
        <label for="password-input" class="form-label">Salasana uudestaan</label>
        <input type="password" name="password" class="form-control" id="password-input">
      </div>

      <input class="btn btn-primary" type="submit" value="Luo tunnus">
    </form>
    <p style="align-self: center; margin-top: 10px;">Jos sinulla on jo tunnus, voit kirjautua sisään <a href="/login">tästä</a></p>
  </div>
{% endblock %}