{% extends "layout.html" %}
{% block title %}{{restaurant.name}}{% endblock %}
{% block content %}
  <div>
    <p>Nimi: {{restaurant.name}}</p>
    <p>Kuvaus: {{restaurant.description}}</p>
    <p>Osoite: {{restaurant.address}}</p>

    <ul>
      {% for group in groups %}
        {% if group.restaurant_id == restaurant.id %}
          <li>{{group.name}}</li>
        {% endif %}
      {% endfor %}
    </ul>

    <hr>

    {% if session.account and session.account.admin %}
      <form id="delete_restaurant_form" action="/delete_restaurant" method="post">
        <input type="hidden" name="csrf_token" value="{{session.account.csrf_token}}">
        <input type="hidden" name="restaurant_id" value="{{restaurant.id}}">
        <input type="submit" value="Poista ravintola">
      </form>
    {% endif %}
  </div>
  <div>
    <hr>
    <p>Arvostelut</p>
    {% if session.account %}
      <form id="rating_form" action="/give_rating" method="post">
        <p>Maximum of 200 characters</p>
        <p>Rating (1-5): <input type="number" name="rating" min="1" max="5"></p>
        <input type="hidden" name="csrf_token" value="{{session.account.csrf_token}}">
        <input type="hidden" name="restaurant_id" value="{{restaurant.id}}">
        <input type="submit" value="Julkaise">
      </form>
      <textarea id="comment_field" rows="4" cols="50" 
        maxlength="200" form="rating_form" name="comment"></textarea>
    {% else %}
      <p>Kirjaudu sisään jättääksesi arvostelun!</p>
    {% endif %}
    
    {% for rating in ratings %}
      <hr>
      <div>
        <p>Tehnyt: {{rating.username}}</p>
        <p>Kommentti: {{rating.comment}}</p>
        <p>Arvostelu: {{rating.rating}}</p>
        <p>Aika: {{rating.made_at}}</p>

        {% if session.account and session.account.admin or session.account.id == rating.account_id %}
          <form id="delete_rating_form" action="/delete_rating" method="post">
            <input type="hidden" name="csrf_token" value="{{session.account.csrf_token}}">
            <input type="hidden" name="restaurant_id" value="{{restaurant.id}}">
            <input type="hidden" name="rating_id" value="{{rating.id}}">
            <input type="submit" value="Poista arvostelu">
          </form>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}